{% extends 'base.html' %}

{% block title %}
Verification Requests
{% endblock %}

{% block content %}

<div class="container py-5">

<h2 class="mb-4">

    Verification Requests

</h2>

{% for verification_request in requests %}

    <div class="card shadow-sm mb-3">

        <div class="card-body">

            <h5>

                {{ verification_request.user.username }}

            </h5>

            <p>

                {{ verification_request.user.phone_number }}

            </p>

        </div>

    </div>

    <div class="mt-3">

    <a
        href="{% url 'approve_verification' verification_request.id %}"
        class="btn btn-success"
    >
        Approve
    </a>

    <a
        href="{% url 'reject_verification' verification_request.id %}"
        class="btn btn-danger"
    >
        Reject
    </a>

</div>

{% empty %}

    <div class="alert alert-info">

        No pending verification requests.

    </div>

{% endfor %}

</div>

{% endblock %}
